@import url("bootstrap.min.css");
@import url("bootstrap-responsive.min.css");

body {
	background-image: url("fabric.png");
}

a {
	color: #49AB5B;
	text-decoration: none;
}

a:hover {
	color: #49AB5B;
	opacity: 0.8;
	text-decoration: none;
}

.container {
	text-align: center;
	width: auto;
	height: auto;
	max-width: 700px;
	margin: 60px auto;
	padding: 30px 20px;
	border-top: 3px solid #81BA56;
	border-radius: 4px;
	-moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
	background-color: #fcfcfc;
}

h1 a {
	font-family: 'Arvo', serif;
	margin: auto;
}

.core {
	padding-top: 30px;
}